<div>
    <h2>Current Job Offers</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
           	<div class="col-md-4 col-md-offset-8">
            	<input type="text" name="word"  ng-model="word" ng-keypress="myFunct($event)"  ng-pattern="regex">
                <button class="btn btn-primary" ng-click="search(links['first'])"  ui-sref="jobOffer.search">
                    <span class="glyphicon glyphicon-flash"></span> <span>Search a job</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="jobOffer in jobOffers">
                <td>{{jobOffer.title}}</td>
                <td>{{jobOffer.location}}</td>
                <td>{{jobOffer.description}}</td>
                <td>
                    <button type="submit"
                            ui-sref="application({id:jobOffer.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Apply</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>